@model Spike.Web.Models.DangerousModel
@{
    ViewBag.Title = "CrossSiteScripting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {

<script src="~/Scripts/pages/crossSiteScripting.js"></script>

<script>

    $().ready(function () {


        spike.page.links.getDangerLink = '@Url.Action("GetDangerousCode", "Security")';
        spike.page.links.getDangerReplacementLink = '@Url.Action("GetDangerousReplacementCode", "Security")';

        spike.page.viewModel = spike.page.createViewModel();
        ko.applyBindings(spike.page.viewModel);

    });
    

</script>

}


<div class="container">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h2>Cross Site Scripting</h2>

            <p>The only methods that allows for XSS below is when using HTML.Raw()</p>

            <fieldset>
                <legend>HTML RAW</legend>

                <p>Check vulniribility when using HTML.Raw()</p>

                <h3 class="has-error">Dangerouse HTML RAW in SPAN</h3>
                <span>@Html.Raw(Model.DangerouseHTMLCode)</span>

                <h3 class="has-error">Dangerouse JavaScript HTML RAW in SPAN</h3>
                <span>@Html.Raw(Model.DangerouseJavaScript)</span>

            </fieldset>

            <fieldset>
                <legend>From RazorView Model @@</legend>

                <h3>Dangerouse SQL</h3>
                @Model.DangerouseSQLCode

                <h3>Dangerouse HTML</h3>
                @Model.DangerouseHTMLCode

                <h3>Dangerouse JavaScript</h3>
                @Model.DangerouseJavaScript

            </fieldset>
            
            <fieldset>
                <legend>Knockout JS Binding</legend>

                <p>Check Knockout AJAX Replacements</p>
                <input type="button" value="Update JSON Values Below" data-bind="click: getData" />

                <h3>Dangerouse HTML in SPAN</h3>
                <span data-bind="text: htmlData"></span>

                <h3>Dangerouse JavaScript in SPAN</h3>
                <span data-bind="text: jsData"></span>
            </fieldset>                      

            <fieldset>
                <legend>Partial Razor View DIV replacement</legend>

                <p>Check MVC Ajax DIV Replacements</p>
                <input type="button" value="Replace DIV from JSON below" data-bind="click: getReplacement" />

                <div id="ReplaceHolder"></div>
            </fieldset>
                

        </div>
    </div>

</div>